/* page and places holders styling */
body {
    font-family: Sans-Serif, "Deja Vu Sans Mono";
    background-color: rgb(25,25,25);
}

.container{
    display: flex;
    flex-wrap: wrap;
}

H4 {
    padding-left: 15px;
}

/* for all data items on the page */
.item {
    background-color: rgb(148, 148, 148);
    flex: 48%;
    max-width: 48%;
    max-height: 100%;
    margin: 1%;
    padding-bottom: -10px;
}

.graph {
    /*margin: 0px;*/
    border: none;
    width: 99.7%;
    height: 450px;
}


