/* page and places holders styling */
body {
    font-family: Sans-Serif, "Deja Vu Sans Mono";
    background-color: rgb(25,25,25);
}

.container{
    display: flex;
    flex-wrap: wrap;
}

h4 {
    display: block;
    padding-left: 15px;
}

/* for all data items on the page */
.item {
    background-color: #b2b2ff;
    flex: 48%;
    color: whitesmoke;
    max-width: 48%;
    height: auto;
    margin: 1%;
}

.large-item {
    background-color: #b2b2ff;
    flex: 98%;
    color: whitesmoke;
    max-width: 98%;
    height: auto;
    margin: 1%;
}
.graph {
    display: block;
    border: none;
    height: 450px;
    width: 100%;
}

/*#my-output {*/
/*    height: fit-content;*/
/*}*/


