
.container{
    display: flex;
    flex-wrap: wrap;
}

H4 {
    padding-left: 15px;
}

.item {
    background-color: darkred;
    flex: 48%;
    max-width: 48%;
    margin: 1%;
}
.graph {
    width: 99.5%;
    height: 87%;

}
body {
    font-family: Sans-Serif, "Deja Vu Sans Mono";
    background-color: rgb(25,25,25);
}
